*{
  margin: 0;
  padding: 0;
}
body{
  font-family: arial;
}
article{
  margin: 5% 0 0 4%;
  width: 50%;
}
label{
  float: left;
  padding: 2%;
  background: #ccc;
  line-heigt: 0;
  font-size: 1em;
  border-radius-right: 3px;
}
form{
  width: 100%;
}
/*input{
  display: block;
  padding: 2%;
  overflow: hidden;
  border: 0;
  background: #ccc;
  font-family: arial;
  font-size: 1em;
  outline: none;
}*/

input:active {
        border: 1px solid #cdc9bf;
        color: rgb(102, 102, 102);
        cursor: text;
      background:#f3f6f3;
      border-radius: 5px;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }

input:hover {
        border: 1px solid #cdc9bf;
        color: rgb(102, 102, 102);
        cursor: text;
      background:#f3f300;
      border-radius: 5px;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }

input {
        border: 1px solid #cdc9bf;
        color: rgb(102, 102, 102);
        cursor: text;
      background:#fff;
      border-radius: 5px;
    moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }