/* configurando as tabelas */
table
{
    /*position:absolute;*/
    left:19px;
    margin-right:5px;
    border: 0px;
    width: 690px;
    text-align: center;
    font-style: verdana;
}
td{
    /*border-bottom: 1px solid #4a4c5a;*/
    border: 1px solid #4a4c5a;*/
    /*text-align:justify;*/
    padding-right:10px;
    margin:0;
    }


/* fim configuração das tabelas */

/* configurando os inputs */

/*input
{
    position:absolute;
    left:110px;
    margin-top:2px;
    width:340px;
    border-collapse: none;
}*/
textarea
{
    /*position:absolute;
    left:110px;*/
    margin-top:2px;
}
input.botao
{
    position:relative;
    left:20px;
    margin-top:2px;
    width:145px;
}
input.confirma
{
    position:absolute;
    left:55px;
    margin-top:5px;
    width:300px;
    /*background-color: blue;*/
}

select
{
    position:absolute;
    left:110px;
    margin-top:2px;
    width:345px;
}

label{
    width:85px;
    /*float:left;*/
    font-size: 14px;
    font-weight:bold;
    color: gray;
    }
br{
    clear: left;
    }
img{
    border:0;
    }
#submit{
    width:100px;
    cursor:pointer;
    margin-top:5px;
    margin-left:120px;
    }
/* fim da configurando os inputs */